/* SMALL WIDTH */

@media screen and (max-device-width: 900px), (max-width: 900px)
{
	.header-fixed
	{
		height: 4em;

		transition: top 0.3s ease;

		animation: header-drop .5s;
		animation-fill-mode: both;
	}

	.header-fixed-rise
	{
		top: -4em;
	}

	.header-fixed-drop
	{
		top: 0;
	}

	.header-name
	{
		display: block;
		float: none;
		text-align: center;
	}

	.nav-list ul
	{
		display: block;
		float: none;
		text-align: center;
	}

	.nav-list ul li a:after
	{
		height: 2px;
	}


	.nav-list ul li ul
	{
		top: 2em;
	}

	.link-content
	{
		border-bottom: 2px #834 dotted;

		transition: all 0.2s;
	}

	.link-content:hover
	{
		border-bottom: 2px #a89 dotted;

		transition: all 0.2s;
	}

	.content-tiles
	{
		width: 100%;

		margin: 0;
		padding: 4.5em 0 0.5em 0;

		box-sizing: border-box;
	}

	.content-row
	{
		flex-direction: column;

		box-sizing: border-box;
	}

	.content-box, .content-screenshot, .link-screenshot
	{
		width: auto;
		box-sizing: border-box;
	}
}

/* MOBILE */

@media screen and (max-device-width: 900px) and (orientation: portrait)
{
	.header-fixed
	{
		font-size: 2em;
		font-weight: bold;
	}

	.nav-list ul li ul
	{
		display: none;
	}

	.link-icon
	{
		width: 30px;
	}

	.content-tiles
	{	
		padding: 3em 0 0.5em 0;
		font-size: 3em;
	}
}

@media screen and (max-device-width: 900px) and (orientation: landscape)
{
	.header-fixed
	{
		font-size: 1.5em;
		font-weight: bold;
	}

	.nav-list ul li ul
	{
		display: none;
	}

	.link-icon
	{
		width: 30px;
	}

	.content-tiles
	{	
		padding: 2.5em 0 0.5em 0;
		font-size: 2.5em;
	}
}