html, body
{
	height: 100%;
	width: 100%;

	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body
{
	font-family: Open Sans;
	background-color: #fdc;
}

.header-fixed
{
	display: block;
	z-index: 1000;

	position: fixed;

	margin: 0;
	padding: 0;

	height: 2em;
	width: 100%;
	box-sizing: border-box;


	color: #fff;

	font-size: 1.5em;
	line-height: 2em;
	text-transform: uppercase;

	background: #e89;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);

	font-family: Open Sans Condensed;
}

.header-name
{
	float: left;

	padding-left: 1em;

	font-weight: bold;
}

/* NAVIGATION */

.nav-list 
{
	height: 100%;
}

.nav-list ul
{
	height: 100%;

	margin: 0;
	padding: 0;

	float: right;

	list-style: none;
}

.nav-list ul li
{
	display: inline-block;
	position: relative;

	width: 6em;
	height: 100%;

	margin: 0;
	padding: 0 0.5em 0 0.5em;
	box-sizing: border-box;

	text-align: center;

	overflow: show;
}

.nav-list ul li a
{
	position: relative;

	color: #fff;

	text-decoration: none;
}

.nav-list ul li a:visited
{
	color: #fff;

	text-decoration: none;
}

.nav-list ul li a:after
{
	content: "";

	position: absolute;

	width: 100%;
	height: 1px;

	bottom: 0;
	left: 0;

	background-color: #fff;

	transform: perspective(1px) scaleX(0);
	transition: transform 0.2s ease;
}

.nav-list ul li a:hover:after
{
	transform: perspective(1px) scaleX(1);
	transition: transform 0.2s ease;
}

/* NAVIGATION DROP DOWN LIST */

.nav-list ul li ul
{
	position: absolute;

	top: 100%;
	left: 50%;
	transform: translateX(-50%);

	width: auto;
	height: auto;

	margin: 0;
	padding: 0;

	list-style: none;

	visibility: hidden;

	text-align: center;
	text-transform: none;
	white-space: nowrap;

	transition: visibility 0s linear 0.4s;
}

.nav-list ul li:hover ul
{
	visibility: visible;
	transition: visibility 0s linear 0s;
}

/* ANIMATED DROP DOWN BACKGROUND BOX */

.nav-list ul li ul .nav-dropdown-box
{
	position: absolute;

	width: 100%;
	height: 100%;

	transform: scaleX(0);
	background-color: #e89;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);

	overflow: hidden;

	transition: transform 0.2s ease 0.2s;
}

.nav-list ul li:hover ul .nav-dropdown-box
{
	transform: scaleX(1);

	transition: transform 0.2s ease;
}

/* DROP DOWN ITEMS */

.nav-list ul li ul li
{
	display: block;

	float: none;
	width: auto;

	opacity: 0;

	transition: opacity 0.2s;
}

.nav-list ul li:hover ul li
{
	opacity: 1.0;

	transition: opacity 0.2s 0.2s;
}

/* PAGE CONTENT */

.content-tiles
{
	display: block;
	width: auto;

	margin: 0 15%;
	padding: 2.5em 0 0.5em 0;
	box-sizing: border-box;

	font-size: 1.5em;
}

.content-tiles h1
{
	display: inline;

	margin: 0;

	font-family: Open Sans Condensed;
	font-size: 1.25em;
	text-transform: uppercase;

	font-weight: bold;
}

.content-tiles ul
{
	margin-top: 0;
	margin-bottom: 0;
	padding: inherit;
	padding-top: 0.25em;
	padding-bottom: 0.25em;

	list-style-type: square;
}

.content-tiles p
{
	margin: 0;
	padding-top: 0.25em;
	padding-bottom: 0.25em;

	/* Hack to disable Chrome's textautosizer */
	max-height: 999999px;
}

.content-tools
{
	margin-left: 1em;

	font-family: Open Sans Condensed;
	font-size: 1.25em;
	font-weight: bold;

	color: #834;
}

.link-content
{
	color: #834;

	text-decoration: none;
	border-bottom: 1px #834 dotted;

	transition: all 0.1s;
}

.link-content:visited
{
	color: #834;

	transition: all 0.1s;
}

.link-content:hover
{
	color: #a89;

	border-bottom: 1px #a89 dotted;

	transition: all 0.1s;
}

.link-icon
{
	width: 20px;
	color: #834;
}

.link-back
{
	margin: 0;

	float: right;

	font-family: Open Sans Condensed;
	font-size: 1.25em;
	text-transform: uppercase;

	font-weight: bold;
}

.content-row
{
	display: flex;
	padding: 0 0.5em;
}

.content-box
{
	display: box;

	width: 100%;
	padding: 1em;
	margin: 0.5em;

	font-size: 0.75em;

	background-color: #fff;
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);

	opacity: 0.75;

	transition: opacity 0.1s;

	font-size: 0.65em;
	font-family: Open Sans;
}

.content-screenshot
{
	display: box;

	width: 100%;
	height: auto;
	margin: 0.5em;

	font-size: 0.75em;

	background-color: #fff;
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);

	opacity: 0.75;

	transition: opacity 0.1s;

	overflow: hidden;
}

.content-box:hover, .content-screenshot:hover
{
	opacity: 1.0;

	transition: opacity 0.1s;
}

.content-screenshot img, .link-screenshot img
{
	vertical-align: bottom;

	width: 100%;
	height: auto;

	transform: scaleX(1) scaleY(1);
	transition: transform 0.1s ease;
}

.content-screenshot img:hover
{
	vertical-align: bottom;

	width: 100%;
	height: auto;

	transform: scaleX(1.05) scaleY(1.05);
	transition: transform 0.1s ease;
}

.link-screenshot
{
	display: box;

	width: 100%;
	padding: 0;
	margin: 0.5em;

	font-size: 0.75em;

	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);

	overflow: hidden;
}

.link-screenshot-expanded
{
	position: fixed;
	top: 0;
	left: 0;

	margin: 0;
	padding: 2em;

	width: 100%;
	height: 100%;
	box-sizing: border-box;

	background: #000;

	z-index: 2000;
}

.link-screenshot img:hover
{
	vertical-align: bottom;

	width: 100%;
	height: auto;

	transform: scaleX(1.05) scaleY(1.05);
	transition: transform 0.1s ease;
}

.link-screenshot-expanded img
{
	display: box;

	width: auto;
	height: auto;

	max-width: 100%;
	max-height: 100%;

	transform: scaleX(1) scaleY(1);
	transition: transform 0.1s ease;
}

.link-screenshot-expanded img:hover
{
	transform: scaleX(1) scaleY(1);
}